<!DOCTYPE html>
<html>
<head>
    <title>{{event.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #dae1de;">
    {% include 'navbar.html' %}
    <div style="height: 80px;"></div>
    <div class="container" style="background-color: #dae1de;">
        <h2 class="text-center">{{event.name}} - Event Details</h1>
        <div class="card" style="background-color: #dae1de;">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <img src="{{ event.image }}" class="card-img-top" alt="...">
                <p class="card-text">Organizer: {{ event.organizer }}</p>
                <p class="card-text">Contact: {{ event.contact }}</p>
                <p class="card-text">Email: {{ event.email }}</p>
                <p class="card-text">Phone: {{ event.phone }}</p>
                <p class="card-text">Website: {{ event.website }}</p>
                <p class="card-text">Location: {{ event.venue }}</p>
                <p class="card-text">Date: {{ event.date }}</p>
                <p class="card-text">Time: {{ event.time }}</p>
            </div>
        </div>
    </div>
</body>
</html>
